/* base css-fazla boşlkları kaldırıyoruz */
/*! base start */

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&family=Montserrat:wght@300&family=Open+Sans:ital,wght@1,500;1,800&family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Poppins&family=Roboto+Serif:opsz@8..144&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
body {
  overflow-x: hidden;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.logo {
  font-size: 24px;
  font-weight: 500;
  display: flex;
}
button {
  cursor: pointer;
  border: none;
}
.btn {
  display: inline-block;
  padding: 0 25px;
  line-height: 40px;
  border: 1px solid black;
  font-weight: 500;
  transition: 0.2s ease all;
}
.btn-sm {
  line-height: 33px;
}
.btn-mlg {
  line-height: 45px;
}
.btn-primary {
  background-color: #1367ef;
  color: #fff;
  border-color: #1367ef;
}
.btn-primary:hover {
  background-color: white;
  color: #1367ef;
}
textarea {
  overflow: auto;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  outline: none;
  border: 1px solid #dee0ea !important;
  padding: 8px 8px 8px 15px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: gray !important;
}
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}
.img-fluid {
  width: 100%;
}

/*!base end  */
/* RESPONSİVE YAPI */

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 400px;
  }
}
@media (max-width: 420px) {
  .container {
    max-width: 350px;
  }
}
